/*全局样式表*/
html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;
}

h1, h2, h3, h4, h5, h6, ul, li {
    margin: 0;
    padding: 0;
}

/*滚动条整体样式*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: 0 0;
}

/*滚动条滑块*/
::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #ccc;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.35);
}

.container {
    display: flex;
    flex: 1;
}

.el-main {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.el-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.el-card__body {
    flex: 1;
    width: 100%;
    display: flex;
    padding: 0;
    overflow-y: auto;
    overflow: hidden;
}

.table-main {
    display: flex;
    flex: 1;
    overflow: hidden;
    flex-direction: column;
}

.el-table {
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

.el-table__body-wrapper {
    overflow-y: auto;
}

.el-table__footer-wrapper,
.el-table__header-wrapper {
    overflow: initial;
}

.el-table td, .el-table th {
    padding: 7px 5px;
}

.container-box {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    overflow-y: auto;
    overflow: hidden;
}

.operation {
    color: #409eff;
    cursor: pointer;
}

.el-table .cell {
    padding: 0 !important;
}
